<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">    
    <link href="bootstrap.min.css?ver=1.1.0" rel="stylesheet">
    <link href="main.css?ver=1.1.0" rel="stylesheet">  
    <link href="estilos.css" rel="stylesheet"> 
  </head>
  <body id="top">
    <%- include('templates/navbar'); %>
   
      
   


<div class="section" id="estudios">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Educación</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2022 - presente</p>
            <div class="h5">Técnologo</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Técnologo en Analisis y Desarrollo de Sistemas de Información</div>
            <p class="category">Servicio Nacional de Aprendizaje</p>
            <p>Siguiendo con la cadena de formación del técnico, actualmente estoy realizando un técnologo de Sistemas, 
              obteniendo conocimiento sobre lenguajes más avanzados, procesos de calidad, gestores de base de datos y desarrollo e implementación de sistemas.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2021</p>
            <div class="h5">Técnico</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Técnico en Software</div>
            <p class="category">Servicio Nacional de Aprendizaje</p>
            <p>Paralelamente a mi bachirato, realice un técnico de programación de software, donde Aprendizaje
              los lenguajes basicos de la programación y como diseñar y desarrolar un sistema.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2021</p>
            <div class="h5">Bachillerato</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Educación Media</div>
            <p class="category">Instituto Técnico Industrial Piloto</p>
            <p>En esta institucion realice todo mi proceso educativo desde primer grado hasta grado once, 
              donde tuve la oportunidad de tomar clases de programación y sistemas. Me destaque por tener un alto rendimiento academico.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('templates/footer'); %>                
  </body>
</html>